$color-primary: #fbbe4b;
$color-primary-light: #fde8c9;

$color-secondary: #190b1a;
$color-secondary-light: #624149;

$color-white: #ffffff;
$color-white-transparent: rgba(255, 255, 255, 0.5);
$color-black: #000000;
$color-black-transparent: rgba(0, 0, 0, 0.5);
